<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="es">
<head>
    <title>Core Banking System</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <th:block th:include="layout/headGlobal :: head"/><!--estilos para la ventana -->
    <th:block th:include="layout/headDataTables :: head"/>
</head>

<body>
<div id="DivBtnReturn">
    <div class="contenedor">
        <div class="contenedor-form">
            <div class="titulo centrar-objeto btn-inline-set">
                <button id="breadcum" name="breadcum" onclick="regresarMenuFrecuente();"
                        class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only">
                    <span class="ui-button-icon-left ui-icon ui-c ui-icon-arrow-1-w"></span>
                    <span class="ui-button-text ui-c">ui-button</span>
                </button>
                <h1>
                    <label class="titulo h1" id="lblTitulo">Modulo de Mantenimiento</label>
                </h1>
            </div>
        </div>
    </div>
</div>
<div class="container_48">
    <div class="contenedor-campos">
        <label class="titulos">Insertar Usuario</label>
        <div class="margin-top-10"></div>
        <div class="margin-top-30"></div>
        <div style="width:60%">
            <div class="row">
                <div class="col-md-12">
                    <table style="width:100%" th:each="user : ${empleado}" >
                        <tr>
                            <td>
                                <label class="alinearTitulos">Entidad</label>
                            </td>
                            <td>
                                <label class="alinearTitulos posicionDerecha">Sucursal</label>
                            </td>
                            <td>
                                <label class="alinearTitulos posicionDerecha">Expediente</label>
                            </td>
                            <td>
                                <img id ="i" class="posicionFoto" th:src="${user.foto}">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input class="form-control" style="width: 70%"  th:value="${user.entidad}" id="entidad">
                            </td>
                            <td>
                                <input class="form-control posicionDerecha" style="width: 90%" th:value="${user.sucursal}" id="sucursal">
                            </td>
                            <td>
                                <input class="form-control posicionDerecha" style="width: 90%" th:value="${user.expediente}" id="expediente">
                            </td>
                            <td>
                                <input id="f" class="posicionFoto" type="file" onclick="selecImg()"/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="alinearTitulos">Nombre</label>
                            </td>
                            <td>
                                <label class="alinearTitulos posicionDerecha    ">Apellido Paterno</label>
                            </td>
                            <td>
                                <label class="alinearTitulos posicionDerecha">Apellido Materno</label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input class="form-control" style="width: 90%" th:value="${user.nombre}" id="nombre">
                            </td>
                            <td>
                                <input class="form-control posicionDerecha" style="width: 80%" th:value="${user.apellidoPaterno}" id="appelidoPatern">
                            </td>
                            <td>
                                <input class="form-control posicionDerecha" style="width: 80%" th:value="${user.apellidoMaterno}" id="apellidoMatern">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label class="alinearTitulos">Fecha de Nacimiento</label>
                            </td>
                            <td>
                                <label class="alinearTitulos posicionDerecha">Número de celular</label>
                            </td>
                            <td>
                                <label class="alinearTitulos posicionDerecha">Estatus</label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group">
                                    <div class='input-group date' id='datepicker'>
                                        <input id="FechaNacimiento" name="FechaNacimiento" type="date" class="form-control " th:value="${user.fechaNacimiento}"/>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <input class="form-control  posicionDerecha" style="width: 90%; margin-bottom: 10%" th:value="${user.numeroCelular}" id="celular">
                            </td>
                            <td >
                                <input th:value="${user.activo}" type="checkbox" id="estatus" style="margin-left: 30%" checked >
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="enviarInf()">Actualizar</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>